<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKjtTbLNdbxJXF-oejWDT42xM9Tl2lY_c</string>
	<key>GCM_SENDER_ID</key>
	<string>122991990276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebookclone</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-c2979</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-c2979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122991990276:ios:064bae4847c1bbed528751</string>
</dict>
</plist>